<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <a href="/products/add">Add Product</a>

    <ul>
        <% for(var i = 0; i < list.length; i++) { %>
        <li>
            <%= `Id: ${list[i].id}\t Product: ${list[i].name}\t Price: ${list[i].price} ` %>&nbsp;
        </li>
        <% } %>
    </ul>
</body>
</html>